/* Comment form */
#respond {
	padding-top: $size__site-gutter / 4;
}

#commentform {
	margin-top: -10px;
}

#commentform .logged-in-as,
#commentform .comment-notes {
	@include font-size(1);
	font-style: italic;

	a {
		color: lighten($color__text-main, 25%);
	}
}

#form-allowed-tags {
	@include font-size(0.9);
	font-style: italic;

	code {
		display: block;
		@include font-size(0.8);
		font-style: normal;
	}
}

.comment-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	.children {
		border-left: 2px solid $color__secondary;
		list-style-type: none;
		margin-left: 0px;
	}
}

// Comment author details
.comment-author {
	.avatar {
		border-radius: 50%;
		float: left;
		height: 75px;
		margin: 0 0.5em 0 0;
		width: 75px;
	}

	// Name
	.fn {
		display: inline-block;
		@include font-size(1.2);
		font-style: italic;
		font-weight: normal;
		max-width: calc(100% - 100px - 0.5em);
		padding-top: 0.25em;
	}

	.says {
		display: none;
	}
} // .comment-author

/* Comment content */
.comment-metadata {
	color: desaturate(lighten($color__text-screen, 60%), 10%);
	font-family: $font__sans;
	font-weight: bold;
	@include font-size(0.85);
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.comment-content {
	clear: left;
	font-size: 0.9em;

	.comment-content a {
		word-wrap: break-word;
	}
}

/* Reply to comment */
.reply {
	float: right;

	a {
		border: 1px solid;
		display: inline-block;
		font-family: $font__sans;
		font-weight: bold;
		@include font-size(0.85);
		letter-spacing: 0.05rem;
		padding: 2px 5px;
		text-transform: uppercase;

		&:hover {
			color: desaturate(lighten($color__text-screen, 60%), 10%);
		}
	}
}

#cancel-comment-reply-link {
	color: desaturate(lighten($color__text-screen, 50%), 10%);

	&::before {
		content: '(';
		display: inline;
	}

	&::after {
		content: ')';
		display: inline;
	}
}

/* Post author comments */
.bypostauthor {
	background-color: $color__tertiary;
}

/* Pingbacks */
.pingback,
.trackback {
	font-style: italic;
	margin: 1em 0;
}
