.secondary-links {

  ul {
  margin: 0;
  padding: 0;

    li {
      display: inline;

      a::after {
        content: ' · ';
        display: inline;
      }

      &:last-child a::after {
        display: none;
      }
    } // li
  } // ul
} // .secondary-links
