.page-template-page-templatestemplate-front-php {

  #page {
    max-width: none;
    width: 100%;
  }

  .pique-panel {
    background-color: darken(saturate($color__primary, 10%), 5%);
    background-image: url(assets/images/noise.png);
    border-bottom: 1px solid transparentize($color__black, 0.5);
    border-top: 1px solid transparentize($color__white, 0.75);
    min-height: 100vh;
    margin: 0;
    position: relative;
    width: 100%;

    &:nth-of-type(even) {
      background-color: darken(saturate($color__secondary, 10%), 5%);
    }
  }

  .pique-panel-background {
    background-attachment: fixed;
    bottom: 0;
    -webkit-filter: brightness(.75);
            filter: brightness(.75);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .pique-panel-content {
    color: $color__white;
    margin: 0 auto;
    max-width: $size__site-width;
    padding: $size__site-gutter;
    text-align: center;

    h2 {
      background: $color__white;
      display: inline-block;
      font-size: 2em;
      font-weight: 200;
      letter-spacing: 2px;
      margin-left: 0;
      padding: 10px 20px;
      text-transform: uppercase;
    }

    h3 {
      color: $color__white;
    }

    .entry-content {
      max-width: $size__site-width / 1.5;
      margin: 0 auto;
    }
  }

  /* Hero area */
  .pique-hero {

    .pique-panel-content {
      font-size: 1.5em;
      max-width: $size__site-width;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    }
  }

  /* Content-heavy pages use a white background */
  .pique-template-grid,
  .pique-template-testimonials,
  .pique-template-recent-posts {
    background-color: $color__white;

    .pique-panel-content {
      color: $color__text-main;

      .entry-content {
        max-width: none;
      }

      > .entry-content > p {
        font-size: 1.2em;
        font-style: italic;
        margin: 0 auto 1em;
        max-width: $size__site-width / 2;
        text-align: center;
      }

      h3,
      h3 a {
        color: $color__text-headings;
      }
    } // .pique-panel-content
  } // .pique-template-grid, .pique-template-testimonials, .pique-template-recent-posts

  /* Grid template panel */
  .pique-template-grid {

    article {
      font-size: 0.85em;
      text-align: center;
    }

    img {
      border-radius: 50%;
      margin: 0 auto;
      max-width: 80%;
    }

    p {
      text-align: left;
    }
  } // .pique-template-grid

  /* Testimonial panel */
  .pique-template-testimonials {

    .pique-testimonials {
      article {
        font-size: 0.85em;
        text-align: left;

        .entry-content {
          background: $color__white;
          border-radius: 25px;
          border: #7F7F7F solid 2px;
          position: relative;
          padding: 0 $size__site-gutter/2;

          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0;
            border-color: $color__white transparent;
            display: block;
            width: 0;
            z-index: 1;
            margin-left: -15px;
            bottom: -15px;
            left: 50%;
          }

          &::before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 16px 16px 0;
            border-color: #7F7F7F transparent;
            display: block;
            width: 0;
            z-index: 0;
            margin-left: -16px;
            bottom: -18px;
            left: 50%;
          }
        } // .entry-content
      } // article

      .attachment-pique-thumbnail-avatar {
        border-radius: 50%;
        float: left;
        margin: $size__site-gutter/4 $size__site-gutter/4 0 0;
        max-width: 80%;
      }

      h2 {
        background: none;
        clear: none;
        float: left;
        @include font-size(1);
        margin: $size__site-gutter/4 0;
        width: calc(100% - 100px - #{$size__site-gutter/4});

        span {
          display: block;
          letter-spacing: 0;
          text-transform: none;
        }
      }
    }
  } // .pique-template-testimonials

  /* Recent blog posts panel */
  .pique-template-recent-posts {
    .pique-recent-posts {

      article {
        text-align: center;
      }

      a[rel=bookmark]:hover {
        border: none;
      }

      .entry-header {
        text-align: left;
      }

      .entry-title {
        margin-bottom: 0.5em;
      }

      .posted-on {
        font-style: italic;
      }

      .byline {
        display: none;
      }

      .entry-content {
        text-align: left;
      }
    } // .pique-recent-posts
  } // .pique-template-recent-posts

  .entry-header,
  .entry-content {
    position: relative;
    z-index: 100;
  }

  .edit-link {
    display: none; /* Todo: show these again */
    background: rgba(255, 255, 255, 0.75);
    bottom: $size__site-gutter / 2;
    @include font-size(0.9);
    left: $size__site-gutter / 2;
    letter-spacing: 1px;
    padding: 5px 10px;
    position: absolute;
    text-transform: uppercase;
    z-index: 100;

    a {
      text-decoration: none;
    }
  }
}
