/* Header rules specific to the front page only */
.pique-frontpage {
  #masthead {
    padding-top: 1em;
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
    width: 100%;
    z-index: 10000;

    .site-branding {
      position: relative;
        top: auto;
        left: auto;
      transform: none;
    }
  }

  #site-navigation-wrapper {
    position: relative;
  }

  .main-navigation:not(.sticky) {
    margin-top: 1em;
    position: relative;
  }

  @include mobile {

    .main-navigation {
      @include clearfix;

      ul {
        width: 100%;
      }

      li {
        display: block;
      }

      a {
        border-bottom: 1px solid transparentize($color__tertiary, 0.9);
        padding: 10px 10px;
        text-align: center;
        width: 100%;
      }
    } // main-navigation
  } // mobile

  // Initial state for our header & nav
  @include tablet {
    #site-navigation:not(.sticky) {
      background: none;
      border: none;
    }
  } // tablet
}

/* Re-set some structural elements on these pages. This allows us to have 'panel' style pages. */
.pique-frontpage,
.archive,
.blog,
.search-results {
  .site-content,
  .content-area {
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%;
  }

  .page-header {
    text-align: center;
  }
}

/* Panels */
.pique-panel {
  background-color: desaturate(darken($color__secondary, 45%), 20%);
  min-height: 60vh;
  margin: 0;
  position: relative;
  width: 100%;

  &:nth-of-type(even) {
    background-color: $color__primary;
  }

  .entry-meta {
    display: none; /* Hide for most post formats */
  }

  .entry-header,
  .entry-content {
    position: relative;
    z-index: 1; /* Make sure these aren't covered by their backgrounds! */
  }
} // .pique-panel

/* Panel background (featured) image */
.pique-panel-background {
  background-attachment: fixed;
  -webkit-filter: brightness(.5);
        filter: brightness(.5);
  opacity: 0.5;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  width: 100%;
  height: 100%;
}

/* Edit panel content links */
.pique-panel .edit-link {
  position: absolute;
    bottom: 15px;
    left: 10px;
  z-index: 100;

  &::before {
    display: none;
  }

  a {
    color: $color__white;
    font-family: $font__sans;
    font-size: 0.8rem;
    opacity: 0.4;
    letter-spacing: 1px;
    padding: 1rem 1rem;
    text-transform: uppercase;
    width: auto;

    &:hover {
      border: none;
      opacity: 1;
    }
  }
}

/* Panel content */
.pique-panel-content {
  color: $color__white;
  margin: 0 auto;
  max-width: $size__site-width;
  padding: $size__site-gutter / 2;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);

  @include tablet {
    padding: $size__site-gutter;
  }

  h2 {
    color: $color__white;
    border: 2px solid $color__white;
    display: inline-block;
    max-width: $size__site-width / 2;
    padding: 0.7rem 1.5rem;
    text-transform: uppercase;

    a {
      color: $color__white;

      &:hover {
        border: none;
      }
    } // a
  } // h2

  .entry-content {
    margin: 1em auto;
    max-width: $size__site-width / 2;
    text-align: left;
  } // .entry-content

  // Forms
  form {
    background: $color__white;
    border-top: 4px solid $color__secondary;
    margin-left: auto;
    margin-right: auto;
    max-width: $size__site-width / 2;
    padding: $size__site-gutter / 2;
    text-shadow: none;
  }

  // Blockquotes
  blockquote {
    color: $color__white;

    @include tablet {
      font-size: 1.5em;
    }
  } // blockquote

} //.pique-panel-content

// Post formats
.format-aside,
.format-status {
  .pique-panel-content .entry-content {
    font-size: 1.2em;
    font-style: italic;
  }
}

.format-quote,
.format-aside,
.format-status,
.format-link,
.format-audio {
  .read-more {
    display: none;
  }

  .entry-meta {
    display: block;
    font-style: normal;
    text-align: left;

    .edit-link {
      display: none;
    }
  }
}

.format-quote,
.format-aside,
.format-status,
.format-link {
  .entry-title {
    display: none;
  }
  .entry-content {
    margin-top: $size__site-gutter;
  }
}

.format-image,
.format-video,
.format-gallery {
  .pique-panel-content .entry-content {
    text-align: center;
  }
}

/* Read more links on archive pages */
.archive,
.blog,
.search-results {
  .read-more {
    display: block;
    margin: 2em auto 1em;
    text-align: center;

    @include tablet {
      margin-top: 4em;
    }

    a {
      @extend button;
      text-shadow: none;

      &::after {
        @include fontawesome;
        content: $fa-var-arrow-right;
        display: inline-block;
      }

      &:hover {
        padding-right: calc(3em - 20px);
        &::after {
          margin-left: 20px;
        }
      }
    } // a
  } // .read-more
}


/* Hero area (the "home" page, as it were) */
#pique-hero {

  .pique-panel-content {
    padding-top: 8em;

    p:first-of-type {
      font-size: 2em;
      font-style: italic;

      em {
        color: $color__secondary;
      }
    }

    .entry-content {
      text-align: center;

      @include tablet {
        padding-top: 2em;
      }
    }
  }
}

/* Content-heavy pages */
.pique-template-grid,
.pique-template-testimonials,
.pique-template-recent-posts {

  .pique-panel-content {

    .entry-content {
      max-width: none;
    }

    > .entry-content > p {
      font-size: 1.2em;
      font-style: italic;
      margin: 0 auto 1em;
      max-width: $size__site-width / 2;
      text-align: center;
    }

    h3,
    h3 a {
      color: $color__text-headings;
    }
  } // .pique-panel-content
} // .pique-template-grid, .pique-template-testimonials, .pique-template-recent-posts

/* Grid template panel */
.pique-template-grid {

  article {
    font-size: 0.9em;
    text-align: center;
  }

  img {
    border-radius: 50%;
    margin: 0 auto;
    max-width: 60%;
  }

  p {
    text-align: left;
  }
} // .pique-template-grid

/* Testimonial panel */
.pique-template-testimonials {

  .pique-testimonials {
    article {
      font-size: 0.85em;
      text-align: left;

      .entry-content {
        @extend blockquote;
        color: $color__white;
        margin-bottom: 0;
      } // .entry-content
    } // article

    .entry-footer {
      margin-top: $size__site-gutter/2;
    }

    .attachment-pique-thumbnail-avatar {
      border-radius: 50%;
      float: left;
      margin: 0 $size__site-gutter/2 0 0;
      max-width: 50%;
    }

    h2 {
      border: none;
      clear: none;
      color: $color__tertiary;
      float: left;
      @include font-size(1);
      padding: $size__site-gutter/4  0;
      width: calc(100% - 100px - #{$size__site-gutter/2});

      &::before {
        display: none;
      }

      span {
        display: block;
        font-weight: normal;
        letter-spacing: 0;
        text-transform: none;
      }
    }
  }
} // .pique-template-testimonials

/* Recent blog posts panel */
.pique-template-recent-posts {
  .entry-title {
    margin-bottom: 0;
  }

  article .entry-content {
    margin-top: 0;
  }

  .read-more a {
    display: inline;
    @include font-size(0.8);
    font-family: $font__sans;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;

    &::after {
      @include fontawesome;
      content: $fa-var-arrow-right;
      display: inline-block;
    }
  }
} // .pique-template-recent-posts

/* Full-width panel */
.pique-template-full-width {
  .entry-content {
    max-width: none;
  }
}

/* Overlay elements (used to show content on top of the background image in cases where you want a fully opaque image) */
.overlay {
  background: $color__primary;
  border-top: 4px solid $color__secondary;
  font-family: $font__sans;
  font-size: 0.8em;
  max-width: $size__site-width / 2;
  padding: 0 $size__site-gutter / 2;
  text-align: left;
  text-shadow: none;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 60%;
  }

  @include desktop {
    width: 40%;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}

/* Some elements shouldn't use a text-shadow, because it looks weird. */
.wp-playlist {
	text-shadow: none;
}

/* Simplify our styles a smidge so the Customizer doesn't have a panic attack */
.pique-customizer .pique-panel-background {
  background-attachment: inherit !important;
}

/* Add some user-friendly hints/overlays in the Customizer */
@mixin colourPanel($color) {

  .pique-panel-title {
    background: $color;
  }

  &::after {
    border-color: $color;
    color: $color;
  }
}

.pique-customizer.pique-frontpage .edit-link {
  bottom: 20px;
}

.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero) {
  &::after {
    border: 2px dashed;
    content: '';
    display: block;
    position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
  }

  .pique-panel-title {
    color: $color__white;
    font-family: $font__sans;
    @include font-size(0.8);
    letter-spacing: 1px;
    padding: 5px 10px;
    position: absolute;
      top: 15px;
      right: 15px;
    text-transform: uppercase;
  }

  /* Colour-code all panels (add 1 to account for #pique-hero, so 2 is actually panel 1)*/
  &:nth-of-type(2) {
    @include colourPanel(#a64b55);
  }

  &:nth-of-type(3) {
    @include colourPanel(#b569a2);
  }

  &:nth-of-type(4) {
    @include colourPanel(#8f68bd);
  }

  &:nth-of-type(5) {
    @include colourPanel(#575ebd);
  }

  &:nth-of-type(6) {
    @include colourPanel(#55a1bd);
  }

  &:nth-of-type(7) {
    @include colourPanel(#7dbd8f);
  }

  &:nth-of-type(8) {
    @include colourPanel(#c8b247);
  }

  &:nth-of-type(9) {
    @include colourPanel(#bd7555);
  }
}

/* Account for the admin bar */
.admin-bar.pique-frontpage {
  #masthead {
    top: 32px;

    @media screen and (max-width:782px) {
      top: 46px;
    }
  }
}
