.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-meta {
	color: desaturate(lighten($color__text-screen, 60%), 10%);
	font-family: $font__sans;
	font-weight: bold;
	@include font-size(0.75);
	letter-spacing: 0.05rem;
	text-transform: uppercase;

	a {
		color: desaturate(lighten($color__text-screen, 50%), 10%);
	}

	+ .entry-title {
		margin-top: 0.2rem;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

time + .updated {
  display: none;
}

.edit-link {
	&::before {
		content: ' · ';
		display: inline;
	}
}

.page .edit-link {
	&::before {
		display: none;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.more-link,
.more-link:visited {
  @extend button;
  border-width: 1px;
  margin: 0.5em auto;
  font-size: 0.8em;
  padding: 0.75em 1.5em;
  color: $color__text-button;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.cat-links,
.tags-links {
	color: desaturate(lighten($color__text-screen, 50%), 10%);
	display: block;
	font-family: $font__serif;
	@include font-size(0.9);
	font-style: italic;
	margin-top: 0.25rem;

	a {
		color: desaturate(lighten($color__text-screen, 40%), 10%);
	}

	&::before {
		@include fontawesome;
		display: inline-block;
		margin-right: 5px;
	}
}

.cat-links::before {
	content: $fa-var-folder-open-o;
}

.tags-links::before {
	content: $fa-var-tags;
}

#commentform .logged-in-as,
#commentform .comment-notes {
	@include font-size(1);
	font-style: italic;
}

#form-allowed-tags {
	@include font-size(0.9);
	font-style: italic;

	code {
		display: block;
		@include font-size(0.8);
		font-style: normal;
	}
}
