.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;

	a {
		border-bottom: 0;
		padding-bottom: 1px;

		&:hover {
			border-bottom: 2px solid;
		}
	}
}

/* Entry meta */
.entry-meta {
	color: desaturate(lighten($color__text-screen, 60%), 10%);
	font-family: $font__sans;
	font-weight: bold;
	@include font-size(0.75);
	letter-spacing: 0.05rem;
	text-transform: uppercase;

	a {
		color: desaturate(lighten($color__text-screen, 50%), 10%);
	}

	+ .entry-title {
		margin-top: 0.2rem;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

time + .updated {
  display: none;
}

.edit-link {
	&::before {
		content: ' · ';
		display: inline;
	}
}

.page .edit-link {
	&::before {
		display: none;
	}
}

/* Content */
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

/* Read more */
.more-link,
.more-link:visited {
  @extend button;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Categories & tags */
.cat-links,
.tags-links {
	color: desaturate(lighten($color__text-screen, 50%), 10%);
	display: block;
	font-family: $font__serif;
	@include font-size(0.9);
	font-style: italic;
	margin-top: 0.25rem;

	a {
		color: desaturate(lighten($color__text-screen, 40%), 10%);
	}

	&::before {
		@include fontawesome;
		display: inline-block;
		margin-right: 5px;
	}
}

.cat-links::before {
	content: $fa-var-folder-open-o;
}

.tags-links::before {
	content: $fa-var-tags;
}

/* 404 page */
.error-404 {
	.page-title {
		margin-top: 0;
	}

	.search-form {
		margin-bottom: $size__site-gutter;
	}
}
