#masthead {
	position: relative;
	text-align: center;

	.pique-header-image {
		position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		z-index: -1;
	}

	.site-logo-link {
		display: inline-block;
		margin: 1rem auto 0.5rem;
		width: 100px;

		@include tablet {
			width: 150px;
		}

		&:hover {
			border-bottom: none;
		}
	}
}

.main-navigation {
	background: darken($color__primary, 10%);
	border-bottom: 1px solid $color__primary;
	border-top: 1px solid $color__primary;
	clear: both;
	display: block;
	font-family: $font__sans;
	position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	width: 100%;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0.5rem;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		color: $color__white;
		@include font-size(0.8);
		letter-spacing: 1px;
		padding: 5px 10px;
		text-transform: uppercase;

		&:hover {
			border-bottom: none;
			color: lighten($color__secondary, 10%);
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__tertiary;
	}
}
