.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

@include tablet {
	#masthead {
		background: $color__black;
		display: relative;
		width: 100%;

		ul {
			a {
				color: $color__white;
				@include font-size(0.8);
				letter-spacing: 1px;
				padding: 20px 10px;
				text-transform: uppercase;
			}
		}

		.site-branding {
			background: silver;
			position: absolute;
			top: 0;
			left: calc(50% - 75px);
			line-height: 1;
			padding: 10px;
			text-align: center;
			width: 150px;
			z-index: 100;

			.site-title {
				@include font-size(1);

				a {
					text-decoration: none;
				}
			}

			.site-description {
				display: none;
			}
		}

		.site-logo-link img {
			margin: 0 auto;
			max-width: 50%;
		}

		.pique-split-nav {
			width: calc(50% - 100px);

			&:first-of-type {
				float: left;
				text-align: right;
			}

			&:last-of-type {
				float: right;
				text-align: left;
			}
		}
	}
}
