#masthead {
	position: relative;
	text-align: center;

	.pique-header {
		overflow: hidden;
		position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		z-index: -1;
	}

	@include mobile {
		#pique-header-image {
			height: 200px;
			max-width: none;
			width: auto;
		}
	}

	.site-branding {
		@include desktop {
			position: absolute;
				top: 50%;
				left: 50%;
			transform: translate(-50%, -50%);
		}

		.site-logo-link {
			display: inline-block;
			margin: 1rem auto 0;

			img {
				width: auto;
				height: 75px;

				@include tablet {
					height: 100px;
				}
			}

			&:hover {

			}
		} // .site-logo-link

		.site-title {
			@extend h3;
			font-style: normal;
			margin: -5px 0 0;
			padding: 0;
			text-align: center;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);

			a {
				color: $color__white;
			}
		} // .site-title

		.site-description {
			color: $color__white;
			font-style: italic;
			margin: 0;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
		}
	} // .site-branding
} // #masthead

.main-navigation {
	background: darken($color__primary, 10%);
	border-bottom: 1px solid $color__primary;
	border-top: 1px solid $color__primary;
	clear: both;
	display: block;
	font-family: $font__sans;
	position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	width: 100%;
	z-index: 10000;

	@include tablet {
		&.sticky {
			position: fixed;
				top: 0px;
				bottom: auto;
		}
	}

	ul {
		display: block;
		list-style: none;
		margin: 0;

		/* Sub-nav */
		ul {
			background: $color__primary;
			position: absolute;
				top: 37px;
				left: -999em;
			text-align: left;
			z-index: 99999;

			&::before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 7px 7px 7px;
				border-color: transparent transparent $color__primary transparent;
				position: absolute;
					top: -5px;
					left: 50%;
			}

			/* This is just here to make it easier to scroll down to the drop-down */
			&::after {
				height: 20px;
				position: absolute;
					top: -10px;
					left: 0;
				width: 100%;
			}

			li {
				display: block;
			}

			a {
				color: $color__tertiary;
				border-bottom: 1px solid transparentize($color__tertiary, 0.5);
				display: block;
				width: 100%;
			}

		} // ul (sub-menu)

		li:hover > ul,
		li.focus > ul {
			left: 5%;
		}
	} // ul (main nav)

	li {
		display: inline-block;
	}

	a {
		color: $color__white;
		display: inline-block;
		@include font-size(0.8);
		letter-spacing: 1px;
		padding: 12px 15px;
		text-transform: uppercase;

		&:hover {
			color: lighten($color__secondary, 10%);
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__tertiary;
	}

	/* Priority+ menu */
	#more-menu {
		display: none;

		&.visible {
			display: inline-block;
		}

		> a::before {
			@include genericons;
			content: '\f476';
		}
	}

	@include mobile {
		ul {
			width: 90%;
		}
	}

	@include tablet {
		ul {
			display: block;
			list-style: none;
			margin: 0;

			/* Sub-nav */
			ul {
				float: left;
				position: absolute;
					top: 37px;
					left: -999em;
				min-width: 200px;

				&::before {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 7px 7px 7px;
					border-color: transparent transparent $color__primary transparent;
					position: absolute;
						top: -5px;
						left: 10px;
				}

				/* This is just here to make it easier to scroll down to the drop-down */
				&::after {
					height: 20px;
					position: absolute;
						top: -10px;
						left: 0;
					width: 100%;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 102%;
					}
				}

				/* Sub-sub-menu */
				ul {
					left: -999em;
					top: 0;

					&::before {
						border-width: 7px 7px 7px 0;
						border-color: transparent $color__primary transparent transparent;
						position: absolute;
							top: 15px;
							left: -5px;
					}

					li {
						&:hover > ul,
						&.focus > ul {
							left: 102%;
						}
					}
				}

				a {
					//width: 200px;
				}
			}

			li {
				position: relative;
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		} // sub-nav
	} // tablet
}

/* Account for the admin bar */
.admin-bar {
  .main-navigation.sticky {

    @media screen and (min-width:600px) and (max-width:782px) {
      top: 46px;
    }

    @media screen and (min-width:782px) {
      top: 32px;
    }
  }
}
