.site {
	margin: 0 auto;
	max-width: $size__site-width;
}

.content-area {
	float: none;
	margin: 0;
	width: 100%;
}

.site-main {
	margin: 0;
}

.site-content .widget-area {
	float: none;
	overflow: hidden;
	width: 100%;
}

/* Footer sidebar */
#tertiary {
	border-bottom: 1px solid lighten($color__text-main, 25%);
	margin-bottom: 10px;
}

/* Footer */
.site-footer {
	clear: both;
	font-family: $font__serif;
	font-style: italic;
	margin: 10px auto;
	max-width: $size__site-width;

	@include mobile {
		@include font-size(0.8);
		text-align: center;

		.secondary-links {
			margin-bottom: 10px;
		}
	}

	@include tablet {
		@include font-size(0.9);
		.secondary-links {
			float: left;
		}

		.site-info {
			float: right;
		}
	}
}
