.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
  border-bottom: 2px solid;
  font-family: $font__sans;
  @include font-size(1.1);
  letter-spacing: 1px;
  margin-bottom: $size__site-gutter / 2;
  padding-bottom: $size__site-gutter / 4;
  text-transform: uppercase;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Nav widget */
.widget_nav_menu {
  ul {
    list-style-type: none;
  }

  .menu {
    margin: 0;
    padding: 0;
  }

  .sub-menu {
    margin-left: 1em;
    padding: 0;
  }
} // .widget_nav_menu


/* Text widget */
.textwidget {
  font-style: italic;
  font-size: 1.2em;
}
