.widget {
	margin: 0 0 1.5em;
	border-top: 2px solid $color__secondary;
	font-family: $font__sans;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
  @extend h3;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Nav widget */
.widget_nav_menu {
  ul {
    list-style-type: none;
  }

	a {
		border-top: 1px solid transparentize($color__tertiary, 0.5);
		color: $color__primary;
		display: block;
		padding: 7px 0;

		&:hover {
			border-bottom: none;
			background-color: transparentize($color__tertiary, 0.85);
		}
	}

  .menu {
    margin: 0;
    padding: 0;
  }

  .sub-menu {
    margin-left: 1em;
    padding: 0;
  }
} // .widget_nav_menu


/* Text widget */
.textwidget {
	font-family: $font__serif;
  font-style: italic;
  font-size: 1.2em;
}
