$color__white: #FCFBF9;
$color__light-grey: #f4f4f4;
$color__mid-grey: #ccc;
$color__dark-grey: #666;
$color__light-black: #444;
$color__black: #222;

$color__navy: #192b3f;
$color__blue: #83B6CC;
$color__red: #8a260c;
$color__brown: #483E34;
$color__tan: #E9D5C0;
$color__charcoal: #2D2A26;

$color__primary: $color__charcoal;
$color__secondary: $color__blue;
$color__tertiary: $color__tan;

$color__background-body: #ffffff;
$color__background-hr: $color__tan;
$color__background-pre: $color__light-grey;
$color__background-ins: $color__light-grey;
$color__background-screen: $color__light-grey;

$color__text-input-focus: $color__blue;
$color__text-screen: $color__primary;
$color__text-input: desaturate(lighten($color__text-screen, 30%), 10%);

$color__background-button: lighten($color__secondary, 40%);
$color__background-button-hover: lighten($color__secondary, 20%);
$color__background-button-focus: darken($color__secondary, 20%);

$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__tertiary;
$color__text-main: lighten($color__charcoal, 25%);
$color__text-headings: $color__secondary;
$color__text-button: $color__secondary;

$color__border-abbr: $color__light-black;
$color__border-button: $color__secondary;
$color__border-button-hover: darken($color__secondary, 10%);
$color__border-button-focus: $color__secondary;
$color__border-input: desaturate(lighten($color__text-screen, 40%), 10%);
$color__border-input-focus: $color__secondary;
