/* Overall form */
form {
	color: $color__text-main;
	text-align: left;
}

/* Labels */
label {
	color: desaturate(lighten($color__text-screen, 20%), 10%);
	font-family: $font__sans;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

/* Text inputs */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	background: rgba(255, 255, 255, 0.75);
	border: 2px solid $color__border-input;
	border-radius: 0;
	box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
	@include font-size(1);
	transition: all 0.2s ease-in-out 0s;
	width: 100%;

	&:focus {
		background-color: #ffffff;
		border-color: $color__border-input-focus;
		color: $color__text-input-focus;
		outline: 0;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	font-style: italic;
	padding: 0.5em;
}

textarea {
	padding: 0.5em 0.5em;
	width: 100%;
}

/* Buttons */
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid transparent;
	border-radius: 2em;
	background-color: $color__secondary;
	color: lighten($color__secondary, 30%);
	display: inline-block;
	@include font-size(0.95);
	font-family: $font__sans;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
	padding: 1em 3em;
	text-shadow: none;
	text-transform: uppercase;
	transition: background-color 0.125s ease-in;
	-webkit-appearance: none;

	@include mobile {
		width: 75%;
	}

	&:hover {
		background-color: transparent;
		border-color: $color__secondary;
		color: $color__secondary;
	}

	&:active,
	&:focus {
		color: $color__border-button-focus;
		background-color: $color__background-button-focus;
		border-color: $color__border-button-focus;
	}

	&.minimal {
		background-color: lighten($color__secondary, 30%);
		color: $color__secondary;

		&:active,
		&:focus,
		&:hover {
			background-color: transparent;
			border-color: lighten($color__secondary, 30%);
			color: lighten($color__secondary, 30%);
		}
	} // .minimal
} // button

button + button,
.button + .button {
	@include mobile {
		margin-top: 1em;
	}

	@include tablet {
		margin-left: 0.5em;
	}
}

/* MailChimp-embed-specific */
#mce-responses + p {
	display: none; // Ah, WordPress. Always adding extra p tags.
}

/* Comment form-specific */
.contact-form textarea {
	width: 100% !important; /* Because 80% looks silly */
}

/* Search form specific */
.search-form {
	margin-top: $size__site-gutter/4;

	@include mobile {
		text-align: center;

		.search-submit {
			margin-top: $size__site-gutter/4;
		}
	}

	@include tablet {
		.search-field {
			width: 77%;
		}

		.search-submit {
			display: inline-block;
		}
	} // tablet
} // .search-form
