/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-footer {
	font-family: $font__sans;
	width: 100%;
	z-index: 1000000;

	.container {
		width: 100%;
	}

	#infinity-blog-title {
		font-weight: normal;
	}
}

.infinite-scroll #infinite-handle {
	@extend .posts-navigation;
	display: block;
	text-align: center;

	span {
		background: none;
	}

	button {
		@extend button;

		&:hover {
			@extend button:hover;
			font-family: $font__sans;
			padding: inherit;
		}
	}
}
