/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-footer {
	font-family: $font__sans;
	width: 100%;
	z-index: 1000000;

	.container {
		width: 100%;
	}

	#infinity-blog-title {
		font-weight: normal;
	}
}

/* Center the loading graphic */
.infinite-loader {
  margin: 1.45em 46%;
}

.infinite-scroll #infinite-handle {
	display: block;
	text-align: center;

	span {
		background: transparent;
	}

	button {
		color: $color__secondary;
		@include font-size(1.2);
		font-style: italic;
		letter-spacing: 0;
		text-transform: none;
		padding: 1em;

		&::before {
			@include fontawesome;
			content: $fa-var-arrow-left;
			display: inline-block;
			margin-right: 10px;
			vertical-align: 2px;
		}

		&:hover {
			color: darken($color__secondary, 25%);
			@include font-size(1.2);
			padding: 1em;
		}
	}
}
