// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed; // Prevents elements from getting all spilly
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Include Genericons
@mixin genericons() {
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	text-rendering: auto; // optimizelegibility throws things off #1094
	vertical-align: text-bottom;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@mixin fontawesome() {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
