/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* Make sure lengthy URLs wrap properly */
.entry-content a,
.widget a {
	word-wrap: break-word;
	word-break: break-word;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "../components/top-navigation";
@import "../components/footer-navigation";

.comment-navigation,
.posts-navigation,
.post-navigation {
	clear: both;
	border-top: 1px solid lighten($color__secondary, 10%);
	border-bottom: 2px solid lighten($color__secondary, 10%);

	.site-main & {
			margin: $size__site-gutter/2 0;
			overflow: hidden;
	}

	.nav-previous a,
	.nav-next a {
		color: lighten($color__secondary, 10%);
		@include font-size(1.15);
		font-style: italic;
		display: block;
		line-height: 1.2;
		padding: $size__site-gutter/2 0;

		span {
			color: darken($color__secondary, 5%);
			display: block;
			font-family: $font__sans;
			font-style: normal;
			font-weight: bold;
			@include font-size(0.75);
			letter-spacing: 1px;
			padding-bottom: 5px;
			text-transform: uppercase;
		}

		&:hover {
			color: darken($color__secondary, 25%);
		}
	}

	& .nav-previous {
		text-align: left;

		span::before {
			@include fontawesome;
			content: $fa-var-arrow-left;
			display: inline-block;
			font-size: 12px;
			margin-right: 5px;
			vertical-align: 1px;
		}
	}

	& .nav-next {
		text-align: right;

		span::after {
			@include fontawesome;
			content: $fa-var-arrow-right;
			display: inline-block;
			font-size: 12px;
			margin-left: 5px;
			vertical-align: 1px;
		}
	}

	// On tablets and larger, sit navigation side by side
	@include tablet {
		& .nav-previous {
			float: left;
			text-align: left;
			width: 50%;
		}

		& .nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	} // tablet

} // .comments-navigation, .posts-navigation, .post-navigation

// This is for the posts navigation
.site-main .posts-navigation {
	border: none;
	margin: $size__site-gutter/2 $size__site-gutter;

	@include mobile {
		margin: $size__site-gutter/4 $size__site-gutter/2;
		& .nav-previous {
			float: left;
			text-align: left;
			width: 50%;
		}

		& .nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}
}

@import "../components/social-menu";
